* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe0c2;
    height: 100vh;
    width: 100vw;
   
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background: transparent; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}




h1, h2, h3 {
    color: black;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: black;
    
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
    margin: 5px 0;
    font-size: 1.1em;
    color: black;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #170d0d;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1, h2, h3 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 1em;
    }
}
.home{
    padding: 10px 20px;
    background-color:#5cb85c ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    align-self: flex-start;
}
