
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(note.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

h1 {
    margin: 0;
}

.menu {
    position: relative;
}

.hamburger {
    cursor: pointer;
    font-size: 1.5rem;
   
}

.notes-container {
    padding: 1rem;
    height: auto;
   
  
}

ul {
    list-style-type: none;
    padding: 0;
   
}

li {
    background-color: #d2282833;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column; 
}

.buttons {
    display: flex;
    justify-content: flex-end; 
}

.buttons button {
    margin-left: 0.5rem;
    color:white;
    background-color:#5cb85c ;
    border-radius: 5px;
    cursor: pointer;
}

ol {
    margin: 0;
}
.home{
    background-color:#5cb85c ;
    border-radius: 5px;
    cursor: pointer;
    color:white;
}
