
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe0c2;
    color: #333;
    height: 100vh;
    width: 100vw;
    font-weight: 300;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}
a{
    text-decoration: none;
}
h1 {
    margin: 0;
    font-size: 1.5rem;
}

.menu {
    position: relative;
}

.hamburger {
    cursor: pointer;
    font-size: 1.5rem;
}

main {
    margin: 2rem auto;
    max-width: 800px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}


.notes-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notes-container li {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notes-container li:hover {
    background-color: transparent;
    transform: scale(1.02);
    transition: 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: flex-end; 
    margin-top: 1rem;
}

.buttons button {
    margin-left: 0.5rem;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons button:hover {
    background-color: #4cae4c;
    transform: scale(1.1);
}

ol {
    margin: 0.3rem 0;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.home {
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    display: block;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}
.d-btn{
    background-color:#4cae4c ;
    border-radius: 1cap;
    padding:0.8rem 1.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    display: block;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}
