body {
    font-family: Arial, sans-serif;
    background-color: #ffe0c2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    text-align: left;
}

.login-container input, 
.login-container select, 
.login-container button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}
