body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image:url(note.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 15px;
    font-weight:bold;
}

input[type="text"], textarea, select, input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2%;
}

button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
}

ul li button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

ul li button:hover {
    background-color: #c82333;
}
.home{
    padding: 10px 20px;
    background-color:#28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    align-self: flex-start;
}
